# Data
numpy
scipy
pandas
pandas_ta
wheels/TA_Lib-0.4.24-cp39-cp39-win_amd64.whl
wheels/ibapi-10.12.1-py3-none-any.whl

# Dev
jupyter
plotly
IPython

# Type checking
mypy

# Console displaying
rich

# Server
fastapi[all]
fastapi-socketio
uvicorn[standard]

# AI
torch
